[Desktop Entry]
Version=1.0
Name=LPlog 3.0b2
GenericName=Log file viewer
Type=Application
Icon=/usr/share/lplog/lplog.ico
Exec=lplog
Terminal=false
Categories=Utility;Development;
Keywords="log";"viewer";
